apiVersion: apps/v1
kind: Deployment
metadata:
  name: streamlit-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: streamlit
  template:
    metadata:
      labels:
        app: streamlit
    spec:
      containers:
        - name: streamlit
          image: ghcr.io/{{ docker_username }}/{{ docker_image_name }}:{{ app_version }}
          ports:
            - containerPort: 8501
